# linux
*.swp

# eclipse
.classpath
.project
.settings/
.metadata/

# idea
.idea/
*.iml

# osx
.DS_Store

# gradle
.gradle/
build/
!gradle-wrapper.jar

# maven
*/target/*
target/*
**/dependency-reduced-pom.xml

# project
**/bin/
**/var/

# general
**/no-hup.out
**/deploy.log
